.current-player__btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
}

.current-player__btn:disabled {
  cursor: default;
}

.current-player__btn:focus {
  outline: none;
}

.current-player__btn--white {
  background-color: white;
}

.current-player__btn--black {
  background-color: black;
}

.current-player__btn--selected {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
