.container {
  position: relative;
  display: flex;
  justify-content: center;
  border: 2px dotted red;
}

.centerWrapper {
  border: 2px dotted purple;
  padding: 10px;
  /*display: flex;*/
}

.infoPanel {
  display: flex;
  flex-direction: column;
}

.responseTime {
  margin-left: 10px;
}

.winnerModal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(250, 250, 252, 0.8);
}

.historyControls {
  margin-top: auto;
}
